body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

.header,
.footer {
    border: 1px dashed red;
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.header {
    justify-content: space-between;
}

.header-cont {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0;
}

.image-cont {
    text-align: center;
}

.page-images {
    display: flex;
    gap: 30px;
}

.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    width: 150px;
    gap: 10px;
}

.img-icon {
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.review-cont {
    background: #e5e7eb;
    padding: 20px;
}

.signup-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 20px 60px;
}

.footer {
    justify-content: center;
}